@using MobileStore.Bussiness.Models
@{
    List<Product> Products = ViewData["ListNewProducts"] as List<Product>;
}

<ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
    @foreach (Product pr in Products)
    {
        <li>
            <a class="product_image" href="@Url.Action("ViewDetail", "ProductDetail", new { ID=@pr.ProductID})"><img alt="@pr.Name" src="@Url.Content(pr.ImageSource)" /></a>
            <div class="product_info">
                <h3><a href="@Url.Action("ViewDetail", "ProductDetail",new {ID=@pr.ProductID})">@pr.Name</a></h3>
                <small>@pr.Description</small>
            </div>
            <div class="price_info">
                @*<a href="#">+ Add to wishlist</a>*@
                <button class="price_add" id="product-@pr.ProductID" title="" type="button"><span class="pr_price">@pr.ListedPrice.000</span><span data-post-url="@Url.Action("AddToCart", "Cart")" class="pr_add">Đặt mua</span></button>
            </div>
        </li>
    }
</ul>